<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <h3>Here is my Profile. My Profile name is: <%= person %> </h3>
    <p> <strong>Age: </strong> <%= data.age %> </p>
    <p> <strong>dept: </strong> <%= data.dept %> </p>
</body>
</html>